html,
body {
    background-color: $primary-color;
    color: $primary-color;
    min-height: 100vh;

    @include media('<=desktop') {
        font-size: 18px;
    }

    &.no-scroll {
        overflow: hidden;
        //position: fixed;
        //width: 100%;
    }
}

a {
    line-height: 1.6;
    text-decoration: none;
    transition: color ease-in .1s;

    &:link,
    &:visited {
        color: $secondary-color;
        border-bottom: solid 2px $tertiary-color;
    }

    &:hover {
        color: $tertiary-color;
    }
}

.page {
    background-color: $white;
}

.content-block {
    margin-left: auto;
    margin-right: auto;
    padding: $double-unit 12%;
    position: relative;


    &:not(.content-block--fluid):not(.content-block--contained):not(.content-block--article) {
        max-width: 1200px;
    }

    &--contained {
        margin-left: auto;
        margin-right: auto;
        max-width: 740px;

        @include media('>=tablet') {
            width: 60%;
        }
    }

    &--article {
        max-width: 945px;
        position: relative;

        &:not(:last-child) {
            &:after {
                content: '...';
                font-family: Arial, Helvetica, sans-serif;
                display: block;
                @include font-size(2);
                letter-spacing: 0.6em;
                text-indent: 0.6em;
                text-align: center;

                position: absolute;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }
    }

    &--intro-container {
        border: solid 2px red;
        max-width: 300px;
    }

    &--spotted-bg {
        @include media('<tablet') {
            @include spotted-bg(blue);
        }
    }

    @include media('>=tablet') {
        padding: ($double-unit * 2) $double-unit;
    }
}

.page-container {
    overflow: hidden;
    min-height: 100vh;
}

.page-wrapper {
    background-color: $white;
    min-height: 100%;
}