@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('/assets/fonts/gt-walsheim-pro-medium-webfont.woff2') format('woff2'),
         url('/assets/fonts/gt-walsheim-pro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html, body {
    font: 1rem/1.6 'gt_walsheim_promedium', 'Open Sans', sans-serif;
    line-height: 1.4em;
    -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
