@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@mixin spotty-border($size, $color, $directions...) {
    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;

        background-color: $color;
        @include spotted-bg('white');

        // resets positioning
        top: auto;
        bottom: auto;
        left: auto;
        right: auto;

        @each $direction in $directions {
            #{$direction}: -$size;
        }

    }
}

@mixin spotted-bg($color) {
    background-image: url(../img/bg/repeat-pattern--#{$color}.png);
    background-position: top center;
    background-size: 30px;

    @include media('>=desktop') {
        background-size: 40px;
    }
}

@mixin cf() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
