@mixin alpha() {
    font-size: 30px;
    font-size: 8vw;
    line-height: 1.33;
    margin: 0 0 $base-unit;

    @include media('>=tablet') {
        font-size: 5.25vw;
        //line-height: 55px;
    }

    @include media('>=desktop') {
        font-size: 60px;
        line-height: 70px;
    }
}

@mixin beta() {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 $base-unit;

    @include media('>=desktop') {
        font-size: 30px;
        line-height: 40px;
    }
}

@mixin gamma() {
    font-size: 20px;
    line-height: 30px;
    margin: 0 0 $base-unit;

    @include media('>=desktop') {
        font-size: 24px;
        line-height: 34px;
    }
}

@mixin epsilon() {
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
}


h1,
.alpha {
    @include alpha();
}

h2,
.beta {
    @include beta();
}

h3,
.gamma {
    @include gamma();
}


h5,
.epsilon {
    @include epsilon();
}


p {
    line-height: 1.75;
}