.u-primary-color {
    color: $primary-color;
}

.u-secondary-color {
    color: $secondary-color;
}

.u-tertiary-color {
    color: $tertiary-color;
}

.u-white-color {
    color: $white;
}

.u-light-color {
    color: #999999;
}

.u-grey-bg {
    background-color: rgba($light-grey, 0.5);
}

.u-no-bg {
    background-color: transparent !important;
}

.u-no-bm {
    margin-bottom: 0 !important;
}

.u-no-padding {
    padding: 0;
}

.u-margin {
    margin: $base-unit;

    &--bottom {
        margin-bottom: $base-unit;

        &-half {
            margin-bottom: $half-unit;
        }

        &-double {
            margin-bottom: $double-unit;
        }
    }

    &--top {
        margin-top: $base-unit;

        &-half {
            margin-top: $half-unit;
        }

        &-double {
            margin-top: $double-unit;
        }
    }
}

.u-padding {
    padding: $base-unit;

    @include media('>=desktop') {
        padding: $double-unit;
    }

    &--bottom {
        padding-bottom: $base-unit;

        &-half {
            padding-bottom: $half-unit;
        }

        &-double {
            padding-bottom: $double-unit;
        }
    }

    &--top {
        padding-top: $base-unit;

        &-half {
            padding-top: $half-unit;
        }

        &-double {
            padding-top: $double-unit;
        }
    }
}

.u-center-image {
    margin-left: auto;
    margin-right: auto;
}

.u-text-center {
    text-align: center;
}

.u-text-left {
    text-align: left;
}

.u-text-right {
    text-align: right;
}

.u-spotted-bg {
    @include spotted-bg('blue');
}

.u-unstyled {
    &,
    &:link,
    &:visited {
        color: $primary-color;
        border: 0;
    }
}

.u-external-link {
    background-image: url(/assets/svg/external.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 30px;

    @include epsilon();

    &:link,
    &:visited {
        color: $tertiary-color;
    }
}

.u-more-link {
    background-image: url(/assets/svg/arrow.svg);
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 16px;
    padding-left: 30px;
    transition: background-position ease-in .1s;

    @include epsilon();

    &:hover {
        background-position: 5px 50%;
    }
}


.u-no-break {
    display: inline-block;

    &--lrg {
        @include media('>=desktop') {
            display: inline-block;
        }
    }
}

.u-hidden {
    display: none;
}

.u-placeholder-img {
    $block: &;
    background-color: $light-grey;
    background-size: cover;
    background-position: center center;
    padding-bottom: 70.44%;
    position: relative;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        transition: opacity ease-in 100ms;
    }

    &:before {
        content: '...';
        @include font-size(1.5);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        animation: fanning 2s ease-in-out infinite;
    }

    &--is-loaded {
        img {
            opacity: 1;
        }

        &:before {
            // content: normal;
        }
    }
}

hr {
    border: 0;
    margin: $triple-unit 0;

    &:before {
        content: '...';
        font-family: Arial, Helvetica, sans-serif;
        display: block;
        @include font-size(2);
        letter-spacing: 0.6em;
        text-indent: 0.6em;
        text-align: center;
    }
}

@keyframes fanning {
    0%,
    100% {
        letter-spacing: 0;
    }

    50% {
        letter-spacing: 1em;
        text-indent: 1em;
    }
}