.c-article {

    &__meta {
        &--dark {
            background-color: $primary-color;
            color: $white;
        }
    }

    &__featured-img {
        position: relative;
        height: 0;
        padding-bottom: 40%;

        img {
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
        }
    }

    &__related-posts {
        display: flex;
        justify-content: space-between;
    }

    &__signpost {
        flex: 0 0 48%;

        &:nth-child(2n+1) {
            a {
                position: relative;
                &:after {
                    content: '';
                    background-image: url(/assets/svg/arrow.svg);
                    background-size: 16px;
                    height: 16px;
                    width: 16px;
                    position: absolute;
                    left: -32px;
                    top: 5px;
                    transform: rotate(180deg);
                    transform-origin: center center;
                    transition: transform ease-in .1s;
                }

                &:hover {
                    &:after {
                        transform: rotate(180deg) translateX(5px);
                    }
                }
            }
        }


        &:nth-child(2n) {
            text-align: right;

            a {
                
                &:after {
                    content: '';
                    background-image: url(/assets/svg/arrow.svg);
                    background-size: 16px;
                    height: 16px;
                    width: 16px;
                    position: absolute;
                    right: -32px;
                    top: 0px;
                    transition: transform ease-in .1s;
                }

                &:hover {
                    &:after {
                        transform: translateX(5px);
                    }
                }
            }
        }

        a {
            position: relative;
        }

        strong {
            display: block;
        }
    }

    &__author {
        display: flex;
        align-items: center;

        img {
            border-radius: 50%;
            margin-right: $half-unit;
        }
    }

    // WYSIWYG styles
    &__content {
        background-color: $white;
        position: relative;

        @include media('>=tablet') {
            margin-top: -($double-unit * 2);
            padding-top: $double-unit * 2;
            padding-left: $double-unit * 2;
            padding-right: $double-unit * 2;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-weight: 400;
            margin-bottom: 1em;

            &:not(:first-child) {
                margin-top: 1em;
            }
        }

        p {
            margin-bottom: 1em;
        }

        ul,
        ol {
            margin-bottom: 1em;
            padding-left: $base-unit;
        }

        ul {
            list-style-type: disc;
        }

        ol {
            list-style-type: decimal;
        }

        strong {
            font-weight: bold;
        }

        pre {
            display: block;
            padding: 1em;
            margin: 0 0 2em;
            font-size: 0.8em;
            line-height: 1.4;
            overflow-y: auto;
            word-break: break-all;
            word-wrap: break-word;
            color: #333;
            background-color: #f5f5f5;
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
        }

        p code {
            padding: 2px 4px;
            font-size: 90%;
            color: #c7254e;
            background-color: #f9f2f4;
            border-radius: 4px;
            font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
          }

        figure {
            margin-top: $double-unit;
            margin-bottom: $double-unit;
            position: relative;
            @include spotty-border(20px, $tertiary-color, 'top', 'left');

            img {
                position: relative;
                display: block;
            }

            figcaption {
                @include font-size(0.8);
                font-style: italic;
                opacity: 0.5;

                position: absolute;
                bottom: -$base-unit;
                right: 0;
            }
        }
    }

}