.badge-tank {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // pointer-events: none;
    z-index: 100;

    @include media('<desktop') {
        display: none;
    }

    canvas {
        border: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: auto;
    }
}
