.footer {
    $block: &;

    background-color: $white;
    padding: $double-unit 12%;
    text-align: center;

    &__inner {
        margin: 0 auto;
        max-width: 320px;
    }

    &__block {
        margin-bottom: $base-unit;
        position: relative;

        @include media('>=desktop') {
            margin-bottom: $triple-unit;
        }

        & + & {
            margin-top: $double-unit;
            padding-top: $double-unit;

            @include media('>=desktop') {
                margin-top: $triple-unit;
                padding-top: $triple-unit;
            }

            &:before {
                background-color: $primary-color;
                content: '';
                height: $double-unit;
                width: 2px;

                position: absolute;
                top: -$half-unit;
                left: 50%;
                transform: translateX(-50%);

                @include media('>=desktop') {
                    height: $triple-unit;
                    top: -$triple-unit/2;
                }
            }
        }
    }

    &__link {
        @include media('>=desktop') {
            display: inline-block;
        }
    }

    &__logos-container {
        display: flex;
        align-items: center;
        margin-top: $base-unit;
    }

    &__logo {
        display: inline-block;
        margin: 0 $half-unit;
    }
}
