@keyframes line-animation {

    0% {
        top: -8px;
    }

    49%,
    50% {
        opacity: 1;
        top: 0;
        transform: rotate(0);
    }
    // 25.01% {
    //     opacity: 1;
    //     top: 0;
    //     transform: rotate(0);
    // }
    // 100% {
    //     opacity: 1;
    //     top: 0;
    //     transform: rotate(90deg);
    // }

    100% {
        opacity: 1;
        top: 0;
        transform: rotate(90deg);
    }

}


.hamburger {
    $block: &;
    $animation-time: 200ms;

    background-color: $white;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: $base-unit;
    top: 50%;
    transform: translateY(-50%);
    transition: background-color ease-in-out $animation-time;
    -webkit-tap-highlight-color: rgba(0,0,0,0);

    @include media('>=desktop') {
        right: $double-unit;
    }

    &:hover {
        background-color: darken($white, 5);
        cursor: pointer;
    }


    &__filling {
        display: block;
        position: relative;
        transition: transform ease-in-out $animation-time;
        transition-delay: $animation-time;
        width: 40%;
        @include hamburger-fill();

        &:before,
        &:after {
            transition: transform linear $animation-time;
        }

        &:before {
            content: '';
            position: absolute;
            top: -8px;
            left: 0;
            width: 100%;
            @include hamburger-fill();
        }

        &:after {
            content: '';
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 100%;
            @include hamburger-fill();
        }
    }

    /* Animation when menu is open/close */
    &[data-is-open="true"] {

        #{$block}__filling {
            transform: rotate(-135deg);

            &:before {
                transform: translateY(8px) rotate(90deg);
            }

            &:after {
                transform: translateY(-8px) rotate(-90deg);
            }
        }

    }

}
