@mixin hamburger-fill() {
    background-color: $primary-color;
    height: 2px;
}

$headroom-height: 86px;
$headroom-height--large: 130px;

.headroom-wrapper {
    position: relative;
    z-index: 999;

    .no-scroll & {
        &.headroom-wrapper {
            height: 0;
        }
    }
}

.headroom {
    &--pinned {
        background-color: $primary-color;
    }

    .no-scroll & {
        top: 0 !important;
    }
}

.header {
    $block: &;
    color: white;
    height: $headroom-height;
    padding: $base-unit;

    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('>=tablet') {
        height: $headroom-height--large;
        padding: $double-unit;
    }

    &__logo {
        width: 50px;

        img {
            display: block;
        }

        @include media('>=desktop') {
            width: 66px;
        }
    }

}
