.hero {
    $block: &;
    $title-animation: 0.75s;
    $title-animation-delay: 0.75s;

    background-color: $primary-color;
    color: $white;
    min-height: calc(100vh - 86px);
    padding: ($double-unit * 2) 12% $base-unit;
    text-align: left;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: -$headroom-height;
    position: relative;

    @include media('>=tablet') {
        justify-content: center;
        margin-top: -$headroom-height--large;
        min-height: 100vh;
    }

    &--short {
        min-height: calc(75vh - 140px);
    }


    &__title {
        display: inline-block;
        position: relative;
        animation: appear linear 0ms;
        animation-delay: $title-animation-delay + ($title-animation / 2);
        animation-fill-mode: forwards;
        visibility: hidden;

        &:before {
            content: '';
            padding: 5px;
            position: absolute;
            top: 0;
            left: 0;
            background-color: $secondary-color;
            height: 100%;
            width: 100%;
            animation: swipe-in-out ease-in-out $title-animation;
            animation-delay: $title-animation-delay;
            animation-fill-mode: forwards;
            transform: scaleX(0);
            transform-origin: left center;
            visibility: visible;
            will-change: transform;
        }

        &:nth-child(2n) {
            animation-delay: ($title-animation-delay + 0.25s) + ($title-animation / 2);

            &:before {
                background-color: $tertiary-color;
                animation-delay: ($title-animation-delay + 0.25s);
            }
        }
    }

    &__sub-content {
        opacity: 0;
        transform: translateY(1em);
        transition: opacity ease-in-out $title-animation * 0.75,
                    transform ease-in-out $title-animation;
        transition-delay: $title-animation-delay * 1.5;

        #{$block}[data-is-loaded="true"] & {
            opacity: 1;
            transform: translateY(0);
        }


    }

    &__inner {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;

        margin: 0 auto;
        max-width: 945px;
        width: 100%;

        #{$block}--narrow & {
            max-width: 768px;
        }

        @include media('>=tablet') {
            padding: ($double-unit * 2) $double-unit;
        }
    }


    &__scroll-hint {
        margin-top: 60px; // Allow space above in-case of content crash
        position: relative;
        text-align: center;
        text-transform: uppercase;
        @include epsilon();

        &:before {
            content: '';
            position: absolute;
            top: -40px;
            left: 50%;
            transform: translateX(-50%);
            animation: scroll-line 3s infinite;

            background-color: $white;
            height: 30px;
            width: 2px;
        }

        @include media('>=tablet') {
            position: absolute;
            bottom: $base-unit;
            left: 0;
            width: 100%;
        }
    }

    &__bg {
        opacity: 0;
        transition: opacity ease-in .2s;

        position: absolute;
        top: 0;
        left: 0;

        object-fit: cover;
        width: 100%;
        height: 100%;

        &--loaded {
            opacity: .15;
        }
    }
}


@keyframes scroll-line {

    0% {
        height: 30px;
    }

    12.5%, 25% {
        height: 0;
    }

    85%, 100% {
        height: 30px;
        bottom: calc(100% + 10px);
        top: auto;
    }

    // 100% {
    //     height: 0;
    //     bottom: auto;
    //     top: -40px;
    // }
}

@keyframes appear {
    0%,
    99% {
        visibility: hidden;
    }

    100% {
        visibility: visible;
    }
}


@keyframes swipe-in-out {
    0% {
        transform: scaleX(0);
        transform-origin: left center;
    }

    35% {
        transform: scale(1);
        transform-origin: left center;
    }
    65% {
        transform: scale(1);
        transform-origin: right center;
    }

    100% {
        transform: scaleX(0);
        transform-origin: right center;
    }
}
