.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    width: 40px;
    height: 40px;

    &:before {
        content: '';
        border: solid 5px $secondary-color;
        border-left-color: transparent;
        border-radius: 50%;
        height: 100%;
        width: 100%;

        position: absolute;
        top: 0;
        left: 0;

        animation: preloader-rotate 1250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }
}

@keyframes preloader-rotate {
    0% {
        transform: rotate(0deg);
    }
    50%,
    100% {
        transform: rotate(360deg);
    }
}