.navigation {
    width: 100%;

    &__list {
    }

        &__list-item {
            display: flex;
            @include alpha();
            line-height: 1em;
            width: 100%;


            opacity: 0;
            transform: translateX(50px);
            transition: transform ease-in-out 200ms,
                        opacity ease-in-out 200ms;

            .off-canvas[data-is-open="true"] & {
                opacity: 1;
                transform: translateX(0);
            }

            &:nth-child(1n) {
                transition-delay: 300ms;
            }
            &:nth-child(2n) {
                transition-delay: 350ms;
            }
            &:nth-child(3n) {
                transition-delay: 400ms;
            }
            &:nth-child(4n) {
                transition-delay: 450ms;
            }
            &:nth-child(5n) {
                transition-delay: 500ms;
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:before {
                content: attr(data-num) ' /';
                display: inline-block;
                padding-right: $half-unit;
                @include epsilon();
            }
        }

    &__link {
        padding-bottom: $quarter-unit;

        &:link,
        &:visited {
            border-bottom: solid 2px $primary-color;
            color: $white;

            transition: color ease-in 200ms,
                        border-color ease-in 200ms;

            @include media('>=tablet') {
                border-bottom-width: 3px;
            }

            @include media('>=desktop') {
                border-bottom-width: 4px;
            }
        }

        &--active {
            &:link,
            &:visited {
                border-color: transparent;
                color: lighten($secondary-color, 30);
            }
        }
    }

}
