.off-canvas {
    $block: &;
    $animation-time: 350ms;
    background-color: $secondary-color;

    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 999;

    -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
            transform: translateX(100%);

    -webkit-transition: transform ease-in-out $animation-time;
        -ms-transition: transform ease-in-out $animation-time;
            transition: transform ease-in-out $animation-time;

    will-change: transform;

    @include media('>=desktop') {
        // width: calc(100% - 140px);
    }

    &[data-is-open="false"] {
//        visibility: hidden;
    }

    &[data-is-open="true"] {
        -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
                transform: translateX(0);
    }

    &__inner {
        display: flex;
        align-items: center;
        min-height: 100%;
        padding: $base-unit;

        @include media('>=desktop') {
            align-items: flex-start;
            padding: 10%;
        }
    }
}
