.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;

    opacity: 1;
    visibility: visible;
    transition: all ease-in-out 500ms;

    &:before {
        border: solid 10px $white;
        border-left-color: $secondary-color;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        margin: -25px 0 0 -25px;

        content: '';
        position: fixed;
        top: 50%;
        left: 50%;
        
        animation: preloader-rotate 1250ms cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
    }

    &--force-display {
        background-color: $primary-color;
    }


    .is-loaded &:not(.preloader--force-display) {
        opacity: 0;
        visibility: hidden;
    }

}


@keyframes preloader-rotate {
    0% {
        transform: rotate(0deg);
    }
    50%,
    100% {
        transform: rotate(360deg);
    }
}
/*&:not(.is-loaded) {
    &:before {
        
    }
}*/