.c-signpost {
    $block: &;
    $border-size: 20px;
    $border-size-l: 30px;

    background-color: $white;
    position: relative;

    &__columns {
        display: flex;
        flex-direction: column;
        position: relative;

        @include media('>=tablet') {
            flex-direction: row;
            align-items: center;
        }
    }

    &__column {
        position: relative;

        &--flexed {
            flex: 1 0 50%;
        }

        &--single {
            @include media('>=tablet') {
                position: absolute;
                bottom: -$double-unit;
                left: -$double-unit;
            }
        }
    }

    &__list {
        @include epsilon();
    }

    &__link {
        display: block;
        margin-top: $base-unit;

        @include media('>=tablet') {
            margin-top: $double-unit;
        }

        @include media('>=desktop') {
            margin-top: $triple-unit;
        }

        &--inline {
            display: inline-block;
            margin-top: 0;
        }
    }

    &__text {
        line-height: 1.4em;
        font-size: 20px;

        @include media('>=desktop') {
            font-size: 24px;
        }
    }

    &__image {
        @include spotty-border($border-size, $tertiary-color, 'top', 'left');
        width: 100%;

        @include media('>=desktop') {
            @include spotty-border($border-size-l, $tertiary-color, 'top', 'left');
        }

        img {
            object-fit: cover;
            width: 100%;
        }

        #{$block}--project & {
            @include spotty-border($border-size, $secondary-color, 'top', 'right');

            &:before {
                max-height: none;
                max-width: none;
            }

            @include media('>=desktop') {
                @include spotty-border($border-size-l, $secondary-color, 'bottom', 'right');
            }
        }

        #{$block}--post & {
            @include spotty-border($border-size, $secondary-color, 'top', 'right');

            &:before {
                max-height: none;
                max-width: none;
            }

            @include media('>=desktop') {
                @include spotty-border($border-size-l, $secondary-color, 'bottom', 'right');
                flex-basis: 400px;
            }
        }
    }

    &__overlay-content {
        background-color: $white;
        position: relative;

        #{$block}--single & {
            @include media('<tablet') {
                margin: -$double-unit $base-unit 0;
            }

            @include media('>=tablet') {
                margin-left: -$double-unit;
            }
        }

        #{$block}--project & {
            margin: -$double-unit 0 0 $base-unit;

            @include media('>=tablet') {
                margin: 0;
                margin-left: -$double-unit;
                margin-bottom: -$base-unit;
            }
        }
    }

    &--single {
        margin-left: $base-unit;
    }

    &--project {
        margin-right: $base-unit;

        #{$block}__overlay-content {
            opacity: 1;
            transform: translateY(0px);
            transition: opacity ease-in 100ms, transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
            transition-delay: 250ms;
        }

        #{$block}__image {
            opacity: 1;
            transform: translateY(0);
            transition: opacity ease-in 100ms, transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
            transition-delay: 250ms;

            img {
                transform: translateY(0);
                transition: transform cubic-bezier(0.175, 0.885, 0.32, 1.275) 500ms;
                transition-delay: 250ms;
            }


            // placeholder area
            $image-height: 560;
            $image-width: 820;

            background-color: $light-grey;
            text-indent: -9999px;
            height: 0;
            padding-bottom: #{$image-height / $image-width * 100%};
        }

        @include media('>=tablet') {
            max-height: 9999px;

            &[aria-hidden="true"] {
                max-height: 0;
                overflow: hidden;

                #{$block}__overlay-content {
                    opacity: 0;
                    transform: translateY(250px);
                }

                #{$block}__image {
                    opacity: 0;
                    transform: translateY(-150px);

                    img {
                        transform: translateY(250px);
                    }
                }
            }
        }

    }

    &--small {
        max-width: 450px;
    }

    &--medium {
        margin-left: auto;
        margin-right: auto;
        max-width: 800px;
    }

    &--alternating {
        &:nth-child(odd) {
            @include spotty-border($border-size, $secondary-color, 'top', 'left');
            margin-left: $border-size;
        }

        &:nth-child(even) {
            @include spotty-border($border-size, $tertiary-color, 'top', 'right');
            margin-right: $border-size;
        }

        &:before {
            max-height: 150px;
            max-width: 200px;
        }
    }
}
