.c-skill-list {
    @include cf();
    margin: 0 auto;
    // padding: 0 $base-unit;
    // max-width: 300px;


    .c-signpost {
        clear: both;
        float: left;
        margin-bottom: $triple-unit;

        & + & {
            margin-top: $base-unit;
        }           

        &:nth-child(even) {
            float: right;
        }
    }

}
