.c-slideshow {
    $block: &;

    @include media('>=tablet') {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    &__nav {
        display: none;

        @include media('>=tablet') {
            display: block;
            margin-right: 50px;
        }
    }

    &__nav-link {
        display: inline-block;
        margin-bottom: 12px;

        &:after {
            content: '';
            background-color: $tertiary-color;
            height: 2px;
            width: 100%;
            display: block;

            transition: width ease-in-out 200ms;
        }

        #{$block}__nav-list-item[data-selected=false] &:after {
            width: 0;
            transition-delay: 100ms;
        }

        #{$block}__nav-list-item[data-selected=false]:hover &:after {
            width: 25px;
        }

    }

    &__slider {
        @include media('>=tablet') {
            flex: 1;
            padding-left: 60px;
        }

        @include media('<tablet') {

            .c-signpost {
                margin-bottom: $triple-unit;
            }

        }
    }

}
